@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    color-scheme: light;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-montserrat), sans-serif;
    --font-serif: var(--font-montserrat), sans-serif;
    --font-mono: var(--font-montserrat), monospace;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-montserrat), sans-serif;
}

@keyframes moveCloudLeftToRight {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

.animate-cloud-left-to-right {
    animation: moveCloudLeftToRight 100s linear infinite;
}